* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a:hover {
    background-color: #4CAF50;
}

body .index  {
    text-align: center;
}

.nav {
    list-style-type: none;
}

.diceRoller {
    width: auto;
    margin: 10px;
    
}